* {
box-sizing: border-box;
}

body {
margin: 0;
min-height: 100vh;

display: flex;
justify-content: center;
align-items: center;

font-family: Arial, sans-serif;

background-color: #f5f5f5;
color: #222;

transition: background-color 0.3s, color 0.3s;

}

.container {
width: 90%;
max-width: 500px;

padding: 40px;

text-align: center;

background-color: white;

border-radius: 15px;

box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

transition: background-color 0.3s;

}

h1 {
margin-top: 0;
}

p {
margin-bottom: 30px;

line-height: 1.6;

}

button {
padding: 12px 25px;

border: none;
border-radius: 8px;

font-size: 16px;

cursor: pointer;

background-color: #222;
color: white;

transition: 0.3s;

}

button {
transform: scale(1.05);
}


body.dark-theme {
background-color: #1a1a1a;
color: white;
}

body.dark-theme .container {
background-color: #2b2b2b;
}

body.dark-theme button {
background-color: white;
color: #222;
}